
.welcome{
    background-color: var(--dark_blue);
    padding-top: 60px;
}
h1{
    color: var(--white);
    width: 80%;
    text-align: center;
    margin: 26px auto 18px;
    font-weight: 500;
    font-size: 2.8rem;
}
h1 span{
    color: var(--orange);
}
.welcome p{
    text-align: center;
    color: var(--text_color);
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.1rem;
    margin: 10px auto 26px;
    width: 85%;
}
.welcome div{
    width: 100%;
    height: 35vh;
}
.welcome div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.servicios{
    background-color: var(--dark_blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}
.container-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.services-card{
    background-color: #D7D7D7;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    width: 80%;
    max-width: 395px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 26px;
}
.card_img{
    width: 100%;
    height: 195px;
    overflow: hidden;
    object-fit: cover;
}
.card_img img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.services-card p{
    color: var(--gray);
    font-size: 2rem;
    font-weight: bold;
    margin: 14px 0 0;
    width: 80%;
    text-align: center;
}
.services-card ul{
    width: 80%;
    margin: 10px 0;
    list-style: inside;
}
.services-card ul li{
    color: var(--gray);
    font-size: 1.2rem;
    width: 100%;
    margin: 4px 0;
    text-align: center;
}
.services-card button{
    background-color: var(--orange);
    color: var(--white);
    font-weight: 500;
    font-size: 1.6rem;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    margin: 12px 0 16px;
    cursor: pointer;
    transition: background-color .2s;
}
.services-card button:hover{
    background-color: #de791ab6;
}
.competencia{
    background-color: #1A2F69;
    padding: 40px 0;
}
.competencia h2{
    color: var(--white);
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
}
.competencia h2 span{
    color: var(--orange);
    font-size: 1.8rem;
    font-weight: 500;
    font-style: italic;
}
.friends{
    background-color: var(--extradark_blue);
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.friends h2{
    color: var(--white);
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    font-style: italic;
}
.friends h2 span{
    color: var(--orange);
}
.friends img{
    width: 90%;
    max-width: 420px;
    border-radius: 6px;
    margin: 26px 0 0;
}
.testimonials{
    background-color: #0E1D45;
    width: 100%;
    padding: 40px 20px;
}
.testimonials h2{
    color: var(--white);
    font-size: 2.6rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}
.testimonials h2 span{
    color: var(--orange);
}
.testimonials-slide{
    overflow-x: scroll;
    white-space: nowrap;
}
.testimonials-slide::-webkit-scrollbar{
    width: 0;
}
.testimonials-slide-items{
    display: inline-block;
    background-color: var(--green);
    width: 315px;
    height: 180px;
    margin-right: 15px;
    border-radius: 14px;
}
.slide-items_flex{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slide-items_flex img{
    margin-bottom: 10px;
}
.slide-items_flex p{
    width: 75%;
    text-align: center;
    color: var(--white);
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 200;
}
.testimonials-slide-items .picture_client{
    border-radius: 50%;
}
@media  (min-width: 750px) {
    .welcome{
        padding-top: 80px;
    }
    .welcome p{
        width: 35%;
    }
    .container-cards{
        padding: 0 6vw;
    }
    .services-card{
        width: 40%;
        max-width: 350px;
        margin: 14px 10px;
    }
    .friends{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .friends h2{
        text-align: left;
        font-size: 4.2rem;
    }
    .friends h2 span{
        font-size: 6.8rem;
        display: block;
    }
    .friends img{
        width: 50%;
        max-width: 500px;
        margin: 0 0 0 50px;
    }
    .testimonials-slide{
        overflow-x: scroll;
        white-space: nowrap;
        padding-bottom: 14px;
    }
    .testimonials-slide::-webkit-scrollbar{
        height: 7px;
    }
    .testimonials-slide::-webkit-scrollbar-thumb{
        background-color: rgba(255, 255, 255, .55);
        border-radius: 10px;
    }
}
@media  (min-width: 1024px){
    h1{
        font-size: 3.6rem;
    }
    .welcome p{
        width: 26%;
    }
    .testimonials-slide{
        overflow-x: auto;
        white-space: nowrap;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .testimonials-slide::-webkit-scrollbar{
        width: 0;
    }
    .testimonials-slide-items{
        width: 100%;
        max-width: 300px;
        height: 180px;
        margin-right: 15px;
        margin-bottom: 15px;
    }
}