:root{
    --blue: #274490;
    --dark_blue: #1E3470;
    --extradark_blue: #122352;
    --white: #F4F9FF;
    --orange: #DE781A;
    --text_color: #8697C6;
    --gray: #4B4B4B;
    --green: #6EBA32;
}
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background-color: var(--blue);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .25);
    position: fixed;
}
nav div{
    justify-self: center;
    align-self: center;
}
.logo{
    grid-column: 2/3;
}
#menu{
    cursor: pointer;
    z-index: 1000;
}
.burger_ul{
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 80vw;
    height: 100vh;
    background-color: var(--extradark_blue);
    top: 0;
    right: -80vw;
    list-style: none;
    transition: .2s;
}
.burger_ul-tras{
    transform: translate(-80vw);
}
.close{
    position: absolute;
    width: 36px;
    top: 24px;
    right: 30px;
}
.burger_ul li{
    font-weight: 400;
    font-size: 2.4rem;
    margin: 14px 0;
    position: relative;
}
.burger_ul li a{
    color: var(--white);
    text-decoration: none;
    width: 100%;
}
#arrow_down{
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.welcome{
    background-color: var(--dark_blue);
    padding-top: 60px;
}
h1{
    color: var(--white);
    width: 80%;
    text-align: center;
    margin: 26px auto 18px;
    font-weight: 500;
    font-size: 2.8rem;
}
h1 span{
    color: var(--orange);
}
.welcome p{
    text-align: center;
    color: var(--text_color);
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.1rem;
    margin: 10px auto 26px;
    width: 85%;
}
.servicios{
    background-color: var(--dark_blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}
.container-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.services-card{
    background-color: #D7D7D7;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 26px;
}
.card_img{
    width: 100%;
    height: 195px;
    overflow: hidden;
    object-fit: cover;
}
.card_img img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.services-card p{
    color: var(--gray);
    font-size: 2rem;
    font-weight: bold;
    margin: 14px 0 0;
    width: 80%;
    text-align: center;
}
.services-card button{
    background-color: var(--orange);
    color: var(--white);
    font-weight: 500;
    font-size: 1.6rem;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    margin: 12px 0 16px;
}
.competencia{
    background-color: #1A2F69;
    padding: 40px 0;
}
.competencia h2{
    color: var(--white);
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
}
.competencia h2 span{
    color: var(--orange);
    font-size: 1.8rem;
    font-weight: 500;
    font-style: italic;
}
.friends{
    background-color: var(--extradark_blue);
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.friends h2{
    color: var(--white);
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    font-style: italic;
}
.friends h2 span{
    color: var(--orange);
}
.friends img{
    width: 90%;
    border-radius: 6px;
    margin: 26px 0 0;
}
.testimonials{
    background-color: #0E1D45;
    width: 100%;
    height: 280px;
    padding: 40px 20px;
}
.testimonials-slide{
    overflow-x: scroll;
    white-space: nowrap;
}
.testimonials-slide-items{
    display: inline-block;
    background-color: var(--green);
    width: 315px;
    height: 180px;
    margin-right: 15px;
    border-radius: 14px;
}
.slide-items_flex{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slide-items_flex img{
    margin-bottom: 10px;
}
.slide-items_flex p{
    width: 75%;
    text-align: center;
    color: var(--white);
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 200;
}
.testimonials-slide-items .picture_client{
    border-radius: 50%;
}
.privacity{
    background-color: var(--white);
    width: 100%;
    padding: 24px 0;
}
.privacity a{
    display: block;
    text-decoration: none;
    color: var(--gray);
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    width: 100%;
}
.privacity .line{
    width: 60%;
    margin: 6px auto 16px;
    background-color: var(--orange);
    height: 2px;

}
.privacity div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.privacity div img{
    margin: 0 8px;
    width: 36px;
}
footer{
    background-color: var(--extradark_blue);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 200;
}