:root{
    --blue: #274490;
    --dark_blue: #1E3470;
    --white: #F4F9FF;
    --orange: #DE781A;
    --text_color: #8697C6;
}
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background-color: var(--blue);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .25);
    position: fixed;
}
nav div{
    justify-self: center;
    align-self: center;
}
.logo{
    grid-column: 2/3;
}
.burger_ul li{
    display: none;
}
.welcome{
    background-color: var(--dark_blue);
    padding-top: 60px;
}
h1{
    color: var(--white);
    width: 80%;
    text-align: center;
    margin: 26px auto 18px;
    font-weight: 500;
    font-size: 2.8rem;
}
h1 span{
    color: var(--orange);
}
.welcome p{
    text-align: center;
    color: var(--text_color);
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.1rem;
    margin: 10px auto;
    width: 85%;
}