nav{
    width: 100%;
    height: 60px;
    background-color: var(--blue);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .25);
    position: fixed;
}
nav div{
    justify-self: center;
    align-self: center;
}
.logo{
    grid-column: 2/3;
}
#menu{
    cursor: pointer;
    z-index: 1000;
}
.burger_ul{
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 80vw;
    height: 100vh;
    background-color: var(--extradark_blue);
    top: 0;
    right: -80vw;
    list-style: none;
    transition: .2s;
}
.burger_ul-tras{
    transform: translate(-80vw);
}
.close{
    position: absolute;
    width: 36px;
    top: 24px;
    right: 30px;
}
.burger_ul li{
    font-weight: 400;
    font-size: 2.4rem;
    margin: 14px 0;
    position: relative;
    color: var(--white);
}
.burger_ul li a{
    color: var(--white);
    text-decoration: none;
    width: 100%;
}
#arrow_down{
    position: absolute;
    left: -30px;
    top: 35%;
    transition: .2s;
}
.rotate_arrow{
    transform: rotate(-90deg);
}
.services_list{
    list-style: none;
    height: 0px;
    overflow: hidden;
    transition: height .8s;
}
.services_list .services_list_item{
    font-size: 1.4rem;
    opacity: 80%;
    margin: 0 0 16px;
}
@media  (min-width: 1024px){
    nav{
        height: 70px;
        grid-template-columns: 1fr 3fr;
    }
    .logo{
        grid-column: 1/2;
    }
    #menu{
        display: none;
    }
    .burger-container{
        height: 100%;
        justify-self: right;
        padding-right: 70px;
    }
    .burger_ul{
        padding-left: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: initial;
        width: 100%;
        height: 100%;
        background-color: var(--blue);
        list-style: none;
        transition: .2s;
    }
    .close{
        display: none;
    }
    .burger_ul li, .burger_ul li a{
        font-size: 1.7rem;
        margin: 0px 20px;
        cursor: pointer;
        transition: .1s;
    }
    .burger_ul li:hover a, .burger_ul li:hover{
        opacity: 70%;
    }
    .burger_ul li{
        display: flex;
        align-items: center;
    }
    #arrow_down{
        display: none;
    }
    .services_list{
        display: none;
        height: auto;
        transition: all .2s;
    }
    .services_list:hover{
        display: grid;
        position: absolute;
        background-color: var(--extradark_blue);
        top: 100%;
        transform: translate(-50%);
        box-shadow: 0 6px 6px rgba(0, 0, 0, .20);
    }
    #second_menu_button{
        height: 100%;
    }
    #second_menu_button:hover + ul{
        display: grid;
        position: absolute;
        background-color: var(--extradark_blue);
        top: 100%;
        transform: translate(-50%);
    }
    .services_list .services_list_item{
        font-size: 1.4rem;
        opacity: 80%;
        margin: 12px 0 10px;
    }
}