.one{
    padding: 65px 0px 0px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    align-content: center;
    justify-content: center;
    width: 100%;
}
.div_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    width: 100%;
}
.div_2{
    background-image: url(../img/hd.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 30vh;
    width: 100%;
}
h1{
    color: var(--orange);
    font-size: 3.0rem;
    text-align: center;
    margin-bottom: 10px;
}
.descrip{
    color: var(--gray);
    width: 70%;
    max-width: 500px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}
.list{
    width: 100%;
    padding: 30px 0;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.list ul li{
    padding: 14px 22px;
    background-color: rgb(212, 212, 212);
    width: 80vw;
    max-width: 700px;
    list-style: none;
    margin-bottom: 16px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 1.6rem;
    color: rgb(68, 68, 68);
}
.contactar_boton{
    background-color: var(--orange);
    border-radius: 4px;
    padding: 6px 26px;
    font-size: 1.8rem;
    color: var(--white);
    border: none;
    cursor: pointer;
    transition: .2s;
}
.contactar_boton:hover{
    background-color: var(--white);
    border: solid 2px rgb(197, 197, 197);
    color: var(--orange);
}
@media  (min-width: 590px){
    h1{
        font-size: 4rem;
    }
    .contactar_boton{
        font-size: 2.2rem;
        padding: 8px 40px;
    }
    .div_2{
        height: 40vh;
    }
}